.col {
  float: left;
  margin-left: 1em;
}

.circle {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 0.1em black solid;
  display: inline-block;
}

.box{
  height: 10em;
  width: 10em;
  border: 0.1em black solid;
}

.row {
  margin-bottom: 2em;
}

h1 {
  margin-top: 0;
}

/****  COLORS  ****/
.red {
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue{
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet{
  background-color: violet;
}
